<p>nested-array works!</p>
<form (ngSubmit)="submit()" [formGroup]="personForm">
    <input type="number" formControlName="id">
    <input type="text" formControlName="firstName">
    <input type="text" formControlName="lastName">
    <input type="text" formControlName="email">
    <ng-container formGroupName="address">
        <input type="text" formControlName="city">
        <input type="text" formControlName="street">
    </ng-container>
    <div >
    <ng-container formArrayName="children" *ngFor="let childForm of childrenControlGetter.controls let i=index ">
        <div [formGroupName]="i">
            <input type="text" formControlName="name">
            <input type="number" formControlName="age">
        </div>
    </ng-container>
</div>
</form>
<table>
    <tr>
        <th>personToEdit</th>
        <th>personForm</th>
    </tr>
    <tbody>
        <tr>
            <td>{{personToEdit | json}}</td>
            <td>{{personForm.value | json}}</td>
        </tr>
    </tbody>
</table>
