<p>add-person works!</p>
<form (submit)="submit()" [formGroup]="personForm">
  <div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">Add Person</div>
    <div class="inputs">
      <label>FIRST NAME</label>
      <input type="text" placeholder="David" formControlName="firstName"/>

      <label>LAST NAME</label>
      <input type="text" placeholder="Cohen" formControlName="lastName"/>

      <label>EMAIL</label>
      <input type="email" placeholder="example@test.com" formControlName="email"/>

      <ng-container formGroupName="address">
        <label>ADDRESS</label>
        <input type="text" placeholder="city" formControlName="city" />
        <input type="text" placeholder="street" formControlName="street"/>
      </ng-container>

    <ng-container formArrayName="children">
      <ng-container *ngFor="let childForm of childrenFormArray.controls; let i=index" [formGroupName]="i">
            <label>CHILDREN</label>
            <input type="text" placeholder="name" formControlName="name" [id]="'nameId' + (i)"/>
            <input type="number" placeholder="age" formControlName="age" [id]="'ageId' + (i)"/>

            <button class="add" (click)="addChild()" type="button">+</button>
            <button class="add" (click)="removeChild(i)" type="button">-</button>
      </ng-container>
    </ng-container>

      <button type="submit" class="button1" [disabled]="personForm.invalid"></button>
    </div>

  </div>
</form>

<input type="number" [(ngModel)]="personObjectToDelete"/>
<button (click)="deletePerson(personObjectToDelete)">delete</button>
